<?xml version="1.0" ?>
<robot name="spot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro for loading Spot -->
  <xacro:include filename="$(find spot_description)/urdf/spot_macro.xacro" />
  <!-- Macros for loading the ROS 2 control tags -->
  <xacro:include filename="$(find spot_description)/urdf/spot.ros2_control.xacro" />
  <xacro:include filename="$(find spot_description)/urdf/spot.physics.gazebo.xacro" />

  <!-- General parameters -->

  <!-- String that will be prepended to all joints and links-->
  <xacro:arg name="tf_prefix" default="" />

  <!-- Set to true if Spot has an arm -->
  <xacro:arg name="arm" default="false" />

  <!-- Set to true if Spot has an arm but not a gripper -->
  <xacro:arg name="gripperless" default="false" />

  <!-- Set to true to put links at the feet of Spot -->
  <xacro:arg name="feet" default="false" />

  <!-- Parameters for ROS 2 control -->
  <xacro:arg name="add_ros2_control_tag" default="false" />
  <xacro:arg name="hardware_interface_type" default="mock" />
  <xacro:arg name="hostname" default="10.0.0.3" />
  <xacro:arg name="port" default="0" />
  <xacro:arg name="certificate" default="" />
  <xacro:arg name="username" default="username" />
  <xacro:arg name="password" default="password" />
  <xacro:arg name="leasing" default="direct" />
  <xacro:arg name="k_q_p" default="" />
  <xacro:arg name="k_qd_p" default="" />
  <xacro:arg name="include_transmissions" default="false" />

  <!-- Simulate cameras -->
  <xacro:arg name="simulate_cameras" default="True" />

  <!-- Load Spot -->
  <xacro:load_spot
    arm="$(arg arm)"
    custom_gripper_base_link="palm_link"
    feet="$(arg feet)"
    tf_prefix="$(arg tf_prefix)"
    gripperless="$(arg gripperless)"
	  include_transmissions="$(arg include_transmissions)" />

  <!-- Adding the ROS 2 control tags -->
  <xacro:if value="$(arg add_ros2_control_tag)">
      <xacro:spot_ros2_control interface_type="$(arg hardware_interface_type)"
                               has_arm="$(arg arm)"
                               leasing="$(arg leasing)"
                               hostname="$(arg hostname)"
                               port="$(arg port)"
                               certificate="$(arg certificate)"
                               username="$(arg username)"
                               password="$(arg password)"
                               tf_prefix="$(arg tf_prefix)"
                               k_q_p="$(arg k_q_p)"
                               k_qd_p="$(arg k_qd_p)" />
  </xacro:if>

  <!-- Adding cameras -->
  <xacro:if value="$(arg simulate_cameras)">
    <xacro:include filename="$(find spot_description)/urdf/spot.sensors.gazebo.xacro" />
    <xacro:add_cameras prefix="$(arg tf_prefix)" />
    <xacro:if value="$(arg arm)">
      <xacro:unless value="$(arg gripperless)">
        <xacro:add_arm_camera prefix="$(arg tf_prefix)" />
      </xacro:unless>
    </xacro:if>
  </xacro:if>

  <!-- Gazebo tags -->
  <!--<xacro:spot_gazebo_physics />-->

  <!-- Gazebo plugins: odom state publisher -->
  <!--<xacro:spot_odometry_publisher />-->

  <!-- Gazebo plugins: pose publisher -->
  <xacro:spot_pose_publisher />


</robot>
